# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python

# Virtual environments
venv/
.venv/
ENV/

# Django
*.log
local_settings.py
staticfiles/
media/
db.sqlite3

# Secrets / env
.env
.env.*

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db
